@charset "UTF-8";

/* configurações gerais */

*{
    padding: 0px;
    margin: 0px;
}

html, body{
   width: 100vw;
   height: 100vh;
   background-color: rgb(60, 60, 233);
   background-size: contain;
   background-repeat: no-repeat;
}

h1{
    color: white;
    padding: 10px;
}